<section id="Overview">
	<div class="overview | md:grid gap-4 grid-cols-[1.618fr_1fr] |">
		<div class="blurb space-y-4">
			<h2>headline</h2>
			<slot>
				<p>
					Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
					molestias sint doloribus facere ad velit! Voluptas aliquid beatae,
					iusto hic molestiae dolorum asperiores animi officiis error dolorem
					quia labore sed!
				</p>
			</slot>
			<div class="buttons | md:flex justify-evenly">
				<a href="#">what</a>
				<a href="#">why</a>
			</div>
		</div>
		<div class="media">media</div>
	</div>
</section>
