<section id="Products">
	<div class="products | md:grid gap-4 grid-cols-2">
		<div class="data col-span-2 | md:flex">
			<div class="media flex-1">media</div>
			<div class="blurb flex-[1.618]">blurb</div>
		</div>
		<div class="rt">real time</div>
		<div class="eod">end of day</div>
	</div>
</section>
