---
import Overview from "../components/homepage/Overview.astro";
import Products from "../components/homepage/Products.astro";
---

<main>
	<div class="container mx-auto space-y-12">
		<Overview />
		<Products />
	</div>
</main>
